

.j-cell-group{
    // .j-cell{
    //     background-color brown
    // }
    // .j-field{
    //     .field-index--van-field{
    //         background-color brown
    //     }
    // }
}

.j-cell{
    &.van-cell {
        align-items flex-start
        padding 10px 0px
        .j-cell-icon{
            // width 30px
        }
        .j-cell-title {
            // width 30px
        }
        .j-cell-value{
            display flex
            display -webkit-flex
            flex-direction column
            text-align justify
        }
        .j-cell-right-icon{
            // width 80px
        }
        .van-cell__title{
            flex 0
            -webkit-flex 0
        }
    }
} 
        